nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  color: black;
  text-decoration: none;
  height: fit-content;
}

nav a:visited {
  color: black;
}

.profile-logout {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
